<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<h2>Highlighted Events: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href='./app/db/events/1.json'>Event list</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="http://www.cartelera.com.uy/imagenes_espectaculos/moviedetail13/17511.jpg">Highlighted events</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="baseUrl">Get event</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="baseUrl">Create event</a></h2>
    </li>
</ul>

<router-outlet></router-outlet>
